* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#home {
  background: url(/img/webback.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.segments {
  text-align: center;
  font-size: 70px;
  font-family: 'Great Vibes', cursive;
}


#content {
  width: 100%;
  height: 100%;
  padding: 2px;
}

#home-page {
  width: 100%;
  height: 100%;
  position: relative;
}

#home-page nav{
  position: fixed;
  top:0;
  width: 100%;
}

#intro-details{
  color: #5b2c6f;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Great Vibes', cursive;
  z-index: 25;
}

#intro-details #man {
  position: absolute;
  top: 25%;
  left: 15%;
}
#intro-details #wedded {
  position: absolute;
  top: 40%;
  left: 35%;
}
#intro-details #woman {
  position: absolute;
  top: 50%;
  left: 55%;
}

#intro {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
} 

.home_list {
  text-decoration: none;
  color: #330066;
  font-family: 'Charm', cursive;
  font-weight: 700;
  margin-left: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.home_list:hover {
  text-decoration: none;
  color: #4a235a;
}

.rounders {
  width: 200px;
  border-radius: 3px;
  font-size: 5px;
  border: 0.5px solid #6c3483;
  z-index: 12;
}

@media (max-width: 576px){
  #intro-details {
    font-size: 30px;
  }
  .rounders {
    font-size: 15px;
    padding: .7em .15em;
  }
}

@media (min-width: 576px){
  #intro-details {
    font-size: 50px;
  }
  .rounders {
    font-size: 20px;
    padding: .25rem .1rem;
  }
}

@media (min-width: 768px){
  #intro-details {
    font-size: 120px;
  }
  .rounders {
    font-size: 20px;
    padding: .25rem .25rem;
  }
}

#story {
  margin-top: 20px;
  position: relative;
}

#message .them {
  padding: 0 100px;
  font-size: 60px;
  display: flex;
  justify-content: space-between;
  font-family: 'Charm', cursive;
  opacity: 0.6;
  color: #eaecee;
  background-color: #330066;
  border: 1px solid #daa520;
  border-radius: 5px;
  z-index: 10;  
}

.them .him::first-letter {
  font-size: 80px;
}

.them .her::first-letter {
  font-size: 80px;
}
.coupling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 5px;
  margin: 0 5px;
}

.blockquote-footer {
  font-size: 2em;
  text-align: bottom;
}

#bride {
  color: #ffd700;
}

#groom {
  color: #ffd700;
}

#wedding {
  width: 100%;
  margin-top: 40px;
}

.wall {
  margin-top: 20px;
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.wall .column {
  -ms-flex: 25%;
  /* IE10 */
  -webkit-box-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0 2px;
}

.wall .column figure {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    -webkit-box-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    -webkit-box-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

.column figure {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.column figure:hover {
  opacity: 1;
}

.column figure img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.column figure img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

info-centre {
  margin-top: 5px;
  position: relative;
  background-color: #eaecee;
}

.info-group {
  display: flex;
  float: left;
  margin: 40px 50px 20px 50px;
}

.main-detail {
  display: block;
  width: 80px;
  height: 80px;
}

.info-group .info-bubble{
  width: 80px;
  height: 80px;
  display: flex;
  float: left;
  border-radius: 50%;
  background-color:  #fff;
}

.info-group .info-bubble svg {
  width: 50px;
  height: 50px;
  position: relative;
  top: 7px;
  left: 7px;
  margin: 5px;
}

.main-detail .bubble-tag {
  text-align: center;
  font-size: 10px;
  font-weight: 700;
}

.info-message .liner {
  width: 400px;
  position: relative;
  top: 20px;
  border: 2px solid #6c3483;
}

.info-message .inner-message {
  font-family: 'Charm', cursive;
  position: relative;
  top: 10px;
  left: 80px;
  width: 300px;
  height: 20px;
}

#map {
  width: 100%;
  height: 70%;
  margin: 10px 0;
}

.logos {
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=main.css.map */